# Ignore the virtual environment folder
venv/
# Ignore environment variables
.env
# Ignore log files
*.log
data/logs/
# Ignore Python cache
__pycache__/

# Ignore macOS hidden files
.DS_Store

# Ingnore os logs
data/logs